.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content__profile {
  display: flex;
  max-width: 880px;
  width: 100%;
  margin-top: 40px;
  column-gap: 30px;
  align-items: center;
  flex-direction: row;
}
.content__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
}
.content__avatar-edit {
  position: absolute;
  width: 120px;
  height: 120px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.5;
}
.content__avatar-container:hover .content__avatar-edit {
  display: flex;
  cursor: pointer;
}

.content__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.content__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
}
.content__name-container {
  display: flex;
  align-items: center;
}
.content__name {
  color: white;
  margin: 0;
  font-family: "Inter-Regular", "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
}
.content__job {
  color: white;
  margin: 0;
  font-family: "Inter-Regular", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.content__edit-button {
  margin-left: 18px;
  width: 24px;
  height: 24px;
}
.content__add-button {
  margin-left: auto;
  width: 150px;
  height: 50px;
}

.content__gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  margin-top: 50px;
}
.content__foto-item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  row-gap: 0;
  max-width: 282px;
  max-height: 361px;
  border-radius: 5%;
  background-color: white;
  overflow: hidden;
}
.content__foto {
  height: 282px;
  width: 282px;
  border-radius: 5% 5% 0 0;
}
.content__foto:hover {
  cursor: pointer;
}
.content__trash-icon {
  position: absolute;
  top: 18px;
  right: 15px;
  height: 19.3px;
  width: 18px;
  z-index: 2;
}

.content__foto-tag {
  display: flex;
  justify-content: space-between;
  padding-left: 21px;
  padding-right: 15px;
  align-items: center;
  height: 79px;
  overflow: hidden;
}
.content__photo-tag-name {
  font-family: "Inter-Regular", "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content__like {
  height: 19px;
  width: 21px;
}

@media screen and (max-width: 880px) {
  .content__gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .content__profile {
    flex-direction: column;
    row-gap: 30px;
  }
  .content__profile-info {
    align-items: center;
  }
  .content__add-button {
    width: 282px;
    height: 50px;
    margin: 0;
    padding-top: 6px;
  }
  .content__name {
    font-size: 22px;
  }
  .content__job {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .content__gallery-grid {
    grid-template-columns: 1fr;
  }
  .content__edit-button {
    width: 18px;
    height: 18px;
  }
}
