.footer {
  display: flex;
  justify-content: center;
}
.footer.footer__text-container {
  display: flex;
}
.footer__text {
  font-family: "Inter-Regular", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 880px;
  width: 95%;
}
