.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
.form__cancel-container {
  display: flex;
  justify-content: end;
  width: 490px;
}

.form__cancel-button {
  height: 25px;
}

.form__cancel-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.form__elements {
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: white;
  border-radius: 5px;
  align-items: center;
}
.form__title {
  font-family: "Inter-Regular", "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;

  margin-bottom: 76px;
  margin-top: 34pxS;
  width: 70%;
}
.form__fields {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.form__field {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;

  border-color: #c4c4c4;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form__field-error {
  border-color: #ff0000;
}

.form__input-error {
  font-family: "Inter-Regular", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-bottom: 9px;
  height: 16px;
}

.form__button {
  height: 36px;
  width: 70%;
  margin-top: 16px;
  margin-bottom: 36px;
}

.form-hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .form__cancel-container {
    width: 282px;
  }

  .form__cancel-button {
    height: 20px;
    margin-bottom: 13px;
  }
  .form__elements {
    width: 282px;
    height: 322px;
  }
  .form__title {
    font-size: 18px;
  }
}
