.fullview {
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.fullview__image {
  max-height: 75vh;
  max-width: 75vw;
}

.fullview__container {
  position: relative;
}

.fullview__cancel-button {
  position: absolute;
  height: 25px;
  top: -30px;
  right: -30px;
}

.fullview__cancel-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
