@import url("../vendor/normalize.css");
@import url(../vendor/fonts.css);
@import url("../blocks/confirmation.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/footer.css");
@import url("../blocks/form.css");
@import url("../blocks/fullview.css");
@import url("../blocks/confirmation.css");
